@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}
header img {
    width: 100px;
    height: 100px;
}

header {
    width: 100%;
}

header nav a {
    text-decoration: none;
    color: #fff; /* Color blanco para los enlaces por defecto */
}

header nav a:visited {
    color: #fff;
    text-decoration-color: #c8d6fb;
}

header nav a:active {
    color: #c8d6fb; /* Color para los enlaces activos */
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001652;
    color: #fff;
    padding: 0 30px;
    width: 100%;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    z-index: 99999;
}
.txt-center{
    text-align: center;
}
.nav-menu {
    list-style: none;
}

.nav-menu li {
    display: inline-block;
}

.category{
    margin: 5px;
}

.nav-menu i {
    margin: 5px;
    font-size: 25px;
    color: #fff;
}

main{
    max-width:95%;
    margin: 8em 1em auto auto;
    padding: 0;
    overflow: hidden;
}

form {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;
    color: #001652;
}

form div {
    padding: 5px;
}

form img {
    width: auto;
    height: 100%;

}

h1 {
    color: #001652;
    margin-bottom: 20px;
    text-align: center;
}

form a{
    font-size: 15px;
}

.form-register {
    margin-top: 20px;
}

form textarea,
form select {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.align-center {
    display: flex;
    align-items: center; /* Para centrar verticalmente */
}

input[type="checkbox"] {
    width: 10%;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea, select, input:focus{
    outline: 1px solid #001652;
}

select option{
    color: #001652;
}
.form-password {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    top: 60%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-toggle-icon i {
    font-size: 18px;
    line-height: 1;
    color: #001652;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  
  .password-toggle-icon i:hover {
    color: #001652;
  }

.content-recordar{
    padding: 5px;
}

#recordarme {
    width: 8%;
}

#recordarme-label {
    width: 60%;
}

#mensaje {
    width: 80%;
    resize: none;
}

span {
    color: red;
    font-size: 12px;
}

button {
    width: 100%;
    background-color: #001652;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    margin: 10px auto;
    font-size: 15px;
}

button:hover {
    background-color: #6c799b;
}

.VolverAlInicio{
    background-color: #6c799b;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    margin: 10px auto;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 20%;
    text-align: center;
}

footer{
    display: block;
    float: inherit;
    background-color: #001652;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    bottom: 0;
    padding: 5px 10%;
}

footer img{
    height: 150px;
    width: auto;
}

.footer-link li{
    list-style: none;
}

.footer-link li a{
    color: #fff;
    text-decoration: none;
}
/* Media queries para diferentes tamaños de dispositivos */
/* Para tablet */
@media (max-width: 768px) {
    form {
        width: 90%;         
        border: 1px solid #c8d6fb;
        border-radius: 10px;
        text-align: left;
        padding: 10px;
        margin-top: 20px;
        padding-top: 10px; /* Espacio suficiente para evitar superposición con el navbar */
    }
    textarea,
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        width: 90%; /* Cambiado para ocupar todo el ancho */
    }

    select{
        width: 35%;
    }

    button[type="submit"] {
        width: 30%; /* Cambiado para ocupar todo el ancho */
    }

    header {
        flex-wrap: wrap;
    }

    footer {
        flex-wrap: wrap;
        height: auto; /* Altura automática para permitir múltiples líneas */
        /* padding: 5px 2%; Ajustado el padding para evitar que el contenido se desborde en dispositivos pequeños */
        display: block;
        text-align: center;
    }

    footer div{
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    form {
        width: 90%;         
        border: 1px solid #c8d6fb;
        border-radius: 10px;
        text-align: left;
        padding: 10px;
        margin-top: 20px;
        padding-top: 10px; /* Espacio suficiente para evitar superposición con el navbar */
    }
    textarea,
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
        width: 85%;
    }

    form img {
        max-width: 100%; /* Asegura que la imagen no se desborde */
        height: auto; /* Mantener la proporción de la imagen */
    }

    button[type="submit"] {
        width: 55%;
    }

    footer {
        flex-wrap: wrap;
        height: auto; /* Altura automática para permitir múltiples líneas */
        /* padding: 5px 2%; Ajustado el padding para evitar que el contenido se desborde en dispositivos pequeños */
        display: block;
        text-align: center;
    }

    footer div{
        margin-bottom: 15px;
    }
}

@media (max-width: 320px) {
    form {
        width: 90%;         
        border: 1px solid #c8d6fb;
        border-radius: 10px;
        text-align: left;
        padding: 10px;
        margin-top: 80px;
        padding-top: 30px; /* Espacio suficiente para evitar superposición con el navbar */
    }
    textarea,
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
        width: 85%;
    }

    form img {
        max-width: 100%; /* Asegura que la imagen no se desborde */
        height: auto; /* Mantener la proporción de la imagen */
    }

    button[type="submit"] {
        width: 55%;
    }

    footer {
        flex-wrap: wrap;
        height: auto; /* Altura automática para permitir múltiples líneas */
        /* padding: 5px 2%; Ajustado el padding para evitar que el contenido se desborde en dispositivos pequeños */
        display: block;
        text-align: center;
    }

    footer div{
        margin-bottom: 15px;
    }
}