@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    font-family:"Roboto Slab", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    font-family:"Roboto Slab", serif;
}

header img{
    width: 100px;
    height: 100px;
}

header{
    width: 100%;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001652;
    color: #fff;
    padding: 0 30px;
    width: 100%;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    z-index: 99999;
}

header nav a {
    text-decoration: none;
    color: #fff; /* Color blanco para los enlaces por defecto */
}

header nav a:visited {
    color: #fff;
    text-decoration-color: #c8d6fb;
}

header nav a:active {
    color: #c8d6fb; /* Color para los enlaces activos */
}
  
.txt-center{
    text-align: center;
}

.nav-menu{
    list-style: none;
}

.nav-menu li {
    display: inline-block;
}

.category{
    margin: 5px;
}

.nav-menu i {
    margin: 5px;
    font-size: 25px;
    color: #fff;
}

main{
    max-width:95%;
    margin: 8em 1em auto auto;
    padding: 0;
    overflow: hidden;
}


.productos{
    width: 80%;
    overflow: hidden;
    float: left;
}

.producto{
    border: .5px solid #c8d6fb;
    width: 30%;
    margin: 10px 10px 20px 10px;
    float: left;
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.producto img:hover {
    transform: scale(1.1); 
  }

.producto img{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.producto h2{
    text-align: center;
    color: #001652;
}

.producto p{
    text-align: justify;
    color: #6c799b;
}

.producto a{
    background-color: #6c799b;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
}

aside {
    width: 20%;
    float: right;
}

aside img{
    width: 100%;
    height: 100%;
}

.VolverAlInicio{
    background-color: #6c799b;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    margin: 10px auto;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 20%;
    text-align: center;
}

.hidden {
    display: none;
}

footer{
    display: block;
    float: inherit;
    background-color: #001652;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    bottom: 0;
    padding: 5px 10%;
}

footer img{
    height: 150px;
    width: auto;
}

.footer-link li{
    list-style: none;
}

.footer-link li a{
    color: #fff;
    text-decoration: none;
}
/* Media queries para diferentes tamaños de dispositivos */
/* Para tablet */
@media (max-width: 768px) {
    .productos{
    width: 70%;
    overflow: hidden;
    float: left;
    }

    .producto{
        font-size: 15px;
        border: .5px solid #c8d6fb;
        width: 40%;
        margin: 10px 10px 20px 10px;
        float: left;
        padding: 30px;
        border-radius: 10px;
        transition: transform 0.3s;
    }
    aside {
        width: 30%;
        float: right;
    }
    
    .aside img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    header {
        flex-wrap: wrap;
    }

    footer {
        flex-wrap: wrap;
        height: auto; /* Altura automática para permitir múltiples líneas */
        /* padding: 5px 2%; Ajustado el padding para evitar que el contenido se desborde en dispositivos pequeños */
        display: block;
        text-align: center;
    }

    footer div{
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .productos{
        width: 65%;
        overflow: hidden;
        float: left;
    }
    .producto{
        font-size: 10px;
        border: .5px solid #c8d6fb;
        width: 90%;
        margin: 10px 10px 20px 10px;
        float: left;
        padding: 30px;
        border-radius: 10px;
        transition: transform 0.3s;
    }
    aside {
        width: 30%;
        float: right;
    }
    
    .aside img{
        width: 100%;
        height: 500px;
        border-radius: 10px;
    }

    footer {
        flex-wrap: wrap;
        height: auto; /* Altura automática para permitir múltiples líneas */
        /* padding: 5px 2%; Ajustado el padding para evitar que el contenido se desborde en dispositivos pequeños */
        display: block;
        text-align: center;
    }

    footer div{
        margin-bottom: 15px;
    }
}