header nav a {
    text-decoration: none;
    color: #fff; /* Color blanco para los enlaces por defecto */
}

header nav a:visited {
    color: #fff;
    text-decoration-color: #c8d6fb;
}

header nav a:active {
    color: #c8d6fb; /* Color para los enlaces activos */
}

h1{
    text-align: center; 
    margin-top: 0;
    margin-bottom: 20px;
    color: #001652;
}

h2{
    text-align: center; 
    margin-top: 0;
    margin-bottom: 20px;
    color: #001652;
}

iframe{
    width: 90%;
    display: block;
    margin: 0 auto;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }

